# Copyright (c) 2010-2021, Lawrence Livermore National Security, LLC. Produced
# at the Lawrence Livermore National Laboratory. All Rights reserved. See files
# LICENSE and NOTICE for details. LLNL-CODE-443271.
#
# This file is part of the GLVis visualization tool and library. For more
# information and source code availability see https://glvis.org.
#
# GLVis is free software; you can redistribute it and/or modify it under the
# terms of the BSD-3 license. We welcome feedback and contributions, see file
# CONTRIBUTING.md for details.

# GLVis - an OpenGL visualization server based on the MFEM library

name: builds

on:
  push:
    branches:
      - master
  pull_request:

env:
  HYPRE_ARCHIVE: v2.19.0.tar.gz
  HYPRE_TOP_DIR: hypre-2.19.0
  METIS_ARCHIVE: metis-4.0.3.tar.gz
  METIS_TOP_DIR: metis-4.0.3
  MFEM_TOP_DIR: mfem

jobs:
  builds-and-tests:
    strategy:
      matrix:
        os: [ubuntu-18.04, macos-10.15]
        target: [debug, optim]
        build-system: [make]
        # 'include' allows to
        # - add a variable without creating a new matrix dimension.
        # - add a new combination ('build-system: cmake' case here)
        include:
          - os: ubuntu-18.04
            target: optim
            build-system: cmake
    name: ${{ matrix.os }}-${{ matrix.target }}--${{ matrix.build-system }}

    runs-on: ${{ matrix.os }}

    steps:
    - name: get MPI (Linux)
      if: matrix.os == 'ubuntu-18.04'
      run: |
        sudo apt-get install mpich libmpich-dev
        export MAKE_CXX_FLAG="MPICXX=mpic++"

    - name: get MPI (MacOS)
      if: matrix.os == 'macos-10.15'
      run: |
        export HOMEBREW_NO_INSTALL_CLEANUP=1
        brew install openmpi
        export MAKE_CXX_FLAG="MPICXX=mpic++"

    # Get Hypre through cache, or build it.
    # Install will only run on cache miss.
    - name: cache hypre
      id: hypre-cache
      uses: actions/cache@v2
      with:
        path: ${{ env.HYPRE_TOP_DIR }}
        key: ${{ runner.os }}-build-${{ env.HYPRE_TOP_DIR }}-v1

    - name: build hypre
      if: steps.hypre-cache.outputs.cache-hit != 'true'
      uses: mfem/mfem-actions/build-hypre@master
      with:
        hypre-archive: ${{ env.HYPRE_ARCHIVE }}
        hypre-dir: ${{ env.HYPRE_TOP_DIR }}

    # Get Metis through cache, or build it.
    # Install will only run on cache miss.
    - name: cache metis
      id: metis-cache
      uses: actions/cache@v2
      with:
        path: ${{ env.METIS_TOP_DIR }}
        key: ${{ runner.os }}-build-${{ env.METIS_TOP_DIR }}-v1

    - name: build metis
      if: steps.metis-cache.outputs.cache-hit != 'true'
      uses: mfem/mfem-actions/build-metis@master
      with:
        metis-archive: ${{ env.METIS_ARCHIVE }}
        metis-dir: ${{ env.METIS_TOP_DIR }}

    # make generic links to libraries for MFEM install
    # Those links are already created by build-mfem action, but not when the cache is used...
    - name: configure links
      run: |
        echo "Hypre symlink:"
        ln -s $HYPRE_TOP_DIR hypre;
        echo "Metis symlink:"
        ln -s $METIS_TOP_DIR metis-4.0;

    - name: MFEM master commit
      run: |
        echo "MFEM_COMMIT=$(git ls-remote --heads https://github.com/mfem/mfem.git master | awk '{print $1;}')" >> $GITHUB_ENV

    # Get MFEM through cache, or build it.
    # Install will only run on cache miss.
    - name: cache mfem
      id: mfem-cache
      uses: actions/cache@v2
      with:
        path: ${{ env.MFEM_TOP_DIR }}
        key: ${{ runner.os }}-build-${{ env.MFEM_TOP_DIR }}-${{ env.MFEM_COMMIT }}-${{ matrix.target }}-v2

    # We are using the defaults of the MFEM action here, which is to use master
    # branch. There is an implicit assumption here that mfem master hasn't
    # changed since the 'MFEM master commit' step.
    # Also, if we apply to MFEM build the same target as GLVis. This may be
    # superfluous.
    - name: build mfem
      if: steps.mfem-cache.outputs.cache-hit != 'true'
      uses: mfem/mfem-actions/build-mfem@master
      with:
        os: ${{ matrix.os }}
        target: ${{ matrix.target }}
        hypre-dir: ${{ env.HYPRE_TOP_DIR }}
        metis-dir: ${{ env.METIS_TOP_DIR }}
        mfem-dir: ${{ env.MFEM_TOP_DIR }}

    # Install GlVis dependencies with package manager
    - name: get deps (Linux)
      if: matrix.os == 'ubuntu-18.04'
      run: |
        sudo apt-get install libfontconfig1-dev libfreetype6-dev libsdl2-dev libglew-dev libglm-dev libpng-dev

    - name: get deps (MacOS)
      if: matrix.os == 'macos-10.15'
      run: |
        export HOMEBREW_NO_INSTALL_CLEANUP=1
        brew install fontconfig freetype sdl2 glew glm libpng

    - name: checkout GLVis
      uses: actions/checkout@v2
      with:
        path: glvis

    - name: build GLVis
      run: |
        glvis_target=""
        [[ ${{ matrix.target }} == "optim" ]] && glvis_target="opt";
        [[ ${{ matrix.target }} == "debug" ]] && glvis_target="debug";
        cd glvis && make ${glvis_target} -j

